* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
input:focus {
  outline: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(148, 148, 148);
}
.container {
  text-align: center;
  position: relative;
}
.container .video_sec {
  width: 700px;
  height: 450px;
  border: 10px solid green;
  margin: 20px auto 0px;
  border-radius: 9px;
  text-align: center;
  box-shadow: 2px 2px 17px white;
}
.container .video_sec video {
  width: 650px;
  height: 400px;
  margin-top: 20px;
}

/* pic section start_ */

.container .pic1 img {
  width: 293px;
  height: 456px;
  border-radius: 15px;
  box-shadow: 1px 1px 16px rgb(17, 11, 11);
  position: absolute;
  top: 4px;
  left: 13px;
}
.container .pic2 img {
  width: 285px;
  height: 457px;
  position: absolute;
  box-shadow: 1px 1px 16px rgb(17, 11, 11);
  border-radius: 15px;
  top: 4px;
  left: 1048px;
}

.container .animition {
  width: 95%;
  height: 100px;
  margin: 10px auto;
  background-color: rgb(137, 29, 141);
  position: absolute;
  top: 476px;
  left: 35px;
  border-radius: 30px;
  box-shadow: 1px 1px 10px black;
}
.container .animition .happy h1 {
  font-size: 40px;
  position: absolute;
  top: 28px;
  left: 30px;
  color: rgb(7, 255, 7);
  animation: happy 7s infinite;
}

@keyframes happy {
  0% {
    top: 28px;
    left: 30px;
  }
  25% {
    top: 28px;
    left: 200px;
    color: rgb(250, 0, 125);
  }
  50% {
    top: 28px;
    left: 400px;
    color: rgb(0, 255, 242);
  }
  75% {
    top: 28px;
    left: 600px;
    color: rgb(211, 233, 15);
  }
  100% {
    top: 28px;
    left: 66px;
    color: mediumblue;
  }
}

/* project_end */
